# Data Extraction
ucimlrepo

# Data manipulation and modeling
numpy
pandas
scikit-learn

# Visualization
matplotlib
seaborn

# Notebook environment (includes the Python kernel)
jupyterlab

# Testing and Python formatting
pytest
black
